{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

	{{ message }}
	{% if is_granted('ROLE_ADMIN') %}
		<p>Vous avez acces a:</p>
		<div class="dpf fdc">
			<a href="/backoffice/profile/role">Gestionnaire d'acces</a>
			<a href="/backoffice/profile/horaire">Jours et horaires d'ouverture et de fermeture</a>
			<a href="/backoffice/profile/carrousel">Gerer les image du carrousel</a>
			<a href="/backoffice/profile/lacarte">Gestion des produit/plat de la carte</a>
			<a href="/backoffice/profile/ardoise">Modifier l'ardoise du jour</a>
			<a href="/backoffice/profile/ticket">Table reserver ou commande à emporter</a>
		</div>

		{{ form_start(form) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}


		<ul>
			<div class="dpf acfs rw jsa ">
				{% for categorie in categories %}
					<li class="pad-G-05em border-black-radius35px mar-T-1em">
						{{ categorie.categorieName }}
					</li>
				{% endfor %}
			</div>
		</ul>

	{% endif %}

{% endblock %}
